html body {
  background-color: #f2f2f2;
  font-family: -apple-system, 
              BlinkMacSystemFont, 
              "Segoe UI", 
              Roboto, 
              Oxygen-Sans, 
              Ubuntu, 
              Cantarell, 
              "Helvetica Neue", 
              sans-serif;
}

.navbar-default {
  display: flex;
  align-items: center;
  color: white;
  box-shadow: none;
  height: 70px;
}

.container {
  width: 60%;
}

.nav-icon {
  font-size: 20px;
  color: #444444;
  padding-bottom: 1px;
}

.icon-title {
  padding-left: 5px;
  font-size: 15px;
  font-weight: 900;
  color: #444444;
}

.nav-links {
  font-weight: 100;
  font-size: 15px;
}

.search-div {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-div h1 {
  font-weight: 700;
  font-size: 42px;
  color: #444444;
  margin-bottom: 20px;
}

.search-div h4 {
  font-size: 20px;
  font-weight: 300;
  color: #8e8d8d;
  margin-bottom: 30px;
}

.search-bar-div {
  width: 100%;
  display: flex;
}

.search-bar-div input:first-of-type {
  width: 54px;
  height: 60px;
  background-color: #ededed;
  color: #fafafa;
  border: 0px;
  box-shadow: none;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.search-bar-div input:first-of-type::placeholder {
  padding-left: 5px;
}

.search-bar-div input:nth-child(2) {
  height: 60px;
}

.search-bar-2 {
  background-color: #ededed;
  border: 0px;
  box-shadow: none;
}

.search-bar-div input:nth-child(2)::placeholder {
  color: #d3d3d3;
  font-weight: 200;
}

.code-snips {
  margin-top: 200px;
}
.cards {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  padding: 20px;
}
